.nav-bar {
    display: flex;
    font-display: row;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    background-color: #FFFFFF;
    // background-color: #20232A;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.5em;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-bar>span {
    // color: antiquewhite;
    color: rgb(82, 180, 208);
    font-family: sniglet;
}

// .logout {
//     color: white;
// }